*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html, body {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

a {
  text-decoration: none;
}

#root, #__next {
  isolation: isolate;
}

.main {
  width: 100vw;
  height: 100vh;
}


.main img {
  position: relative;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.layer-2 {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 0vw;
  background-color: rgba(0, 26, 255, 0.5);
  /* mix-blend-mode: screen; */
  background-blend-mode: darken;
  animation: move-layer 15s infinite;
}


@keyframes move-layer {
  0% {
    width: 0;
  }
  50% {
    width: 100%;
  }

  100% {
    left: 0;
  }
}